<%- include("header") %> 
<h1>ABOUT ME</h1>
<p>I am Vishu Bansal, a MERN stack developer and operating a firm that can make your websites look stunning
    and help you gain customers via asthetically designed websites.
</p>
<%- include("footer") %> 
