<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>
<body>
<% if(weekDay==="Saturday" || weekDay==="Sunday"){ %>
    <h1 style="color: rgb(222, 114, 114);"><%= weekDay %> ToDo List </h1>
<%} else{%>
    <h1 style="color: rgb(99, 158, 247);"><%= weekDay%> ToDo List</h1>
<%}%>
</body>
</html>